
.cb1        { background-color: #FFFFCC; }
.cb2        { background-color: #FFCC66; }
.cb3        { background-color: #FF9900; }
.cb4        { background-color: #996633; }
.cb5        { background-color: #663300; }

.ct1        { color: #FFFFCC; }
.ct2        { color: #FFCC66; }
.ct3        { color: #FF9900; }
.ct4        { color: #996633; }
.ct5        { color: #663300; }

header      { margin: 2em auto; width: 60em }
footer      { text-align: center; }

body        { color: #663300 }

.raw                { min-height: 20em; width: 60em; margin: 3em auto; }
.category           { }
.category header    { padding: 0.1em; border-bottom: 1px dotted }
.category section   { width: 60em; }
.category article   { text-align: center; width: 14em; color: #221100; position:relative; display:inline-block; }
.category article p { }

div .menu           { float: right }

a:link      { text-decoration: none; }
a:hover     { text-decoration: underline; }

strong.big  { font-size: 2em; }
