
.cb1        { background-color: #FFFFCC; }
.cb2        { background-color: #FFCC66; }
.cb3        { background-color: #FF9900; }
.cb4        { background-color: #996633; }
.cb5        { background-color: #663300; }

.ct1        { color: #FFFFCC; }
.ct2        { color: #FFCC66; }
.ct3        { color: #FF9900; }
.ct4        { color: #996633; }
.ct5        { color: #663300; }

footer      { text-align: center; }

.category   { min-height: 20em; width: 60em; margin: auto; }
.category header {
              border-bottom: 1px dotted;
}
.category header {

}

div .menu   { float: right; display: block; }
