
.cb1        { background-color: #FFFFCC; }
.cb2        { background-color: #FFCC66; }
.cb3        { background-color: #FF9900; }
.cb4        { background-color: #996633; }
.cb5        { background-color: #663300; }

.ct1        { color: #FFFFCC; }
.ct2        { color: #FFCC66; }
.ct3        { color: #FF9900; }
.ct4        { color: #996633; }
.ct5        { color: #663300; }

header      { margin: 2em auto; width: 60em }
footer      { text-align: center; }

body        { color: #663300 }

.raw                { min-height: 20em; width: 60em; margin: auto; }
.category           { min-height: 20em; width: 60em; margin: auto; }
.category header    { padding: 0.1em; margin: ; border-bottom: 1px dotted }
.category article   { margin: 1em; border: 0px solid #996633; width: 12em; float: left; text-align: center; color: #221100; }
.category article p { margin: 1em }

div .menu           { float: right }

strong.big  { font-size: 2em; }
