<!DOCTYPE html>
<html>
    <head>
        <title>LTC - Lk Tactical Center</title>
        <meta charset="UTF-8" />
        <link type="text/css" rel="stylesheet" href="stylesheets/52Framework/css3.css" />
        <link type="text/css" rel="stylesheet" href="stylesheets/52Framework/general.css" />
        <link type="text/css" rel="stylesheet" href="stylesheets/common.css" />
        <link type="text/css" rel="stylesheet" href="stylesheets/custom/jquery-ui.css" />
        <link type="text/css" rel="stylesheet" href="stylesheets/menu/dcmegamenu.css" />

        <script type="text/javascript" src="javascripts/jquery.js"></script>
        <script type="text/javascript" src="javascripts/jquery-ui.js"></script>
        <script type="text/javascript" src="javascripts/jquery.dcmegamenu.1.3.2.js"></script>
    </head>
    <body>
