<!DOCTYPE html>
<html>
    <head>
        <title>LTC - Lk Tactical Center</title>
        <meta charset="UTF-8" />
        <link type="text/css" rel="stylesheet" href="stylesheets/smoothness/jquery-ui.css" />
        <link type="text/css" rel="stylesheet" href="stylesheets/common.css" />
        <link type="text/css" rel="stylesheet" href="stylesheets/52Framework/css3.css" />
        <link type="text/css" rel="stylesheet" href="stylesheets/52Framework/general.css" />

        <script type="text/javascript" src="javascripts/jquery.js"></script>
        <script type="text/javascript" src="javascripts/jquery-ui.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#tabs').tabs();
            })
        </script>
    </head>
    <body>
