<%= render "shared/header" %>

<script type="text/javascript">
    $(function() {
        $('#menu1').superfish();
        $('#menu2').superfish();
        $('#menu3').superfish();
    })
</script>
    <div class="raw">
        <section class="category">
            <header>
            <div class="menu">
                <ul id="menu1" class="sf-menu">
                    <li>
                        <a>Options</a>
                        <ul>
                            <li><a href="#">Add category</a></li>
                            <li><a href="#">Remove category</a></li>
                            <li><a href="#">Add server</a></li>
                            <li><a href="#">Remove server</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h2>Example category</h2>
            </header>
            <section>Some category entry</section>
        </section>

        <section class="category">
            <header>
            <div class="menu">
                <ul id="menu2" class="sf-menu">
                    <li>
                        <a>Options</a>
                        <ul>
                            <li><a href="#">Add category</a></li>
                            <li><a href="#">Remove category</a></li>
                            <li><a href="#">Add server</a></li>
                            <li><a href="#">Remove server</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h2>Another category</h2>
            </header>
        </section>

        <section class="category">
            <header>
            <div class="menu">
                <ul id="menu3" class="sf-menu">
                    <li>
                        <a>Options</a>
                        <ul>
                            <li><a href="#">Add category</a></li>
                            <li><a href="#">Remove category</a></li>
                            <li><a href="#">Add server</a></li>
                            <li><a href="#">Remove server</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h2>Yet another category</h2>
            </header>
        </section>
    </div>
<%= render "shared/footer" %>
