<%= render "shared/header" %>

<script type="text/javascript">
    $(function() {
        $('#menu').superfish();
    })
</script>

<div class="row">
        <p>Example category</p>
        <div class="right" style="display: block">
            <ul id="menu" class="sf-menu">
                <li>
                    <a>Options</a>
                    <ul>
                        <li><a href="#">Option41</a></li>
                        <li><a href="#">Option42</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div>
            <div class="cb1 ct5 content">div cb1 ct5</div>
            <div class="cb2 ct5 content">div cb2 ct5</div>
            <div class="cb3 ct5 content">div cb3 ct5</div>
            <div class="cb4 ct1 content">div cb4 ct1</div>
            <div class="cb5 ct1 content">div cb5 ct1</div>
        </div>

</div>
<%= render "shared/footer" %>
