<%= render "shared/header" %>
        <div id="tabs" class="fullpage">
            <ul>
                <li><a href="#tabs-1">Status</a></li>
                <li><a href="#tabs-2">Problems</a></li>
                <li><a href="#tabs-3">Colors</a></li>
            </ul>
            <div id="tabs-1">
            </div>
            <div id="tabs-2"></div>
            <div id="tabs-3">
                <div class="rounded left" style="display: block; ">
                    <div class="cb1 ct1 content">Internal div</div>
                    <div class="cb2 ct1 content">Internal div</div>
                    <div class="cb3 ct1 content">Internal div</div>
                    <div class="cb4 ct1 content">Internal div</div>
                    <div class="cb5 ct1 content">Internal div</div>
                </div>
                <div class="rounded left" style="display: block; ">
                    <div class="cb1 ct5 content">Internal div</div>
                    <div class="cb2 ct5 content">Internal div</div>
                    <div class="cb3 ct5 content">Internal div</div>
                    <div class="cb4 ct5 content">Internal div</div>
                    <div class="cb5 ct5 content">Internal div</div>
                </div>
                <div class="rounded left" style="display: block; ">
                    <div class="cb1 ct5 content">Internal div</div>
                    <div class="cb2 ct5 content">Internal div</div>
                    <div class="cb3 ct5 content">Internal div</div>
                    <div class="cb4 ct1 content">Internal div</div>
                    <div class="cb5 ct1 content">Internal div</div>
                </div>
            </div>
        </div>
<%= render "shared/footer" %>
